{% extends 'base.html' %}

{% block title %} Table {% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Qualification</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      {% if data %}
      {% for r in data %}
      <tr>
        <td><img src="{{ r.profile_pic.url }}" width="30" height="30" /></td>
        <td>{{ r.first_name }}</td>
        <td>{{ r.last_name }}</td>
        <td>{{ r.qualification }}</td>
        <td>{{ r.address }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td> No Data Found </td></tr>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}