{% extends 'base.html' %}
{% block inlinecss %}
<style>
    form {
            width: 100%;
            position: absolute;
            padding: 10pc 30pc;
            height: 100%;
    }
</style>
{% endblock %}
{% block content %}
<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="email" name="email" class="form-control" />
    <label class="form-label" for="email">Email</label>
  </div>

  <div class="form-outline mb-4">
    <input type="text" id="username" name="username" class="form-control" />
    <label class="form-label" for="username">Username</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password" name="password" class="form-control" />
    <label class="form-label" for="password">Password</label>
  </div>
  <div class="form-outline mb-4">
    <input type="password" id="password2" name="password2" class="form-control" />
    <label class="form-label" for="password2">Confirm Password</label>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
</form>
{% endblock %}